# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data & dynamically generated results
submissions/
*.pdf
plagiarism_results.csv
frontend/samples/

# Virtual environments
venv/
env/
.env

# Editor / OS files
.vscode/
.idea/
.DS_Store
